@import "../../../css-config/mixins.scss";


.hero-banner{
    padding:40px 0;
    position: relative;
    background-image: linear-gradient(to right ,rgb(83, 83, 145),rgb(33, 21, 104));
    
    
    @include md{
        height:calc(110vh ); //rsdg
    }

    .content{
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-self: center;
        flex-direction: column-reverse;
        max-width: calc(100% - 20px);
        margin: 0 auto;
        position: relative;
        @include md{
            flex-direction: row;
        }
    .Banner-img{
        position: relative;
        z-index: 9;
        width: 200px;
        margin-bottom: 20px;
       
        @include md{
            width: 500px;
            height:85%;
            margin-right: 60px;; //ol
            margin-top: 30px; //efa
            margin-bottom: 0;
        }
        @include xxl{
            width: 600px;
            margin-right: 0;
            margin-top: 0;
        }
     
    }
    .text-content{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap:30px;
        width:100%;
        color :antiquewhite;
        font-weight: 300;

        @include md{
            position: absolute;
            left: 60px;
            top: 40%;
            width: 40%;
            transform: translateY(-50%);
        }
        @include xxl{
            left:0;
        }
        h1{
            margin-bottom: 20px;
            font-size: 80px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1;
            @include md {
                font-size: 140px;
            }
        }
        p{
            max-width: 300px;
            font-size: 14px;line-height: 20px;margin-bottom: 20px;
            @include md{
                max-width: 500px;
                font-size: 18px;
                line-height: 24px;
               
            }
        }
        .ctas{
            display: flex;
            justify-content: center;
            gap: 20px;
            text-transform: uppercase;
            .banner-cta{
                font-weight: 500;
                font-size: 13px;
                border: 2px solid white;
                cursor: pointer;
                padding: 10px 20px;
                &.v2{
                    background-color: white;
                    color: black;
                    font-weight: 500;
                }
            }

        }
    }
    }
}