/* ReadMore.scss */

.read-more {
    background-color: #f8f8f8;
    background-image: url("../../assets/background.jpg");
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    // margin: 20px 0;
  
    .read-more-content {
      max-width: 800px;
      margin: 0 auto;
  
      h2 {
        font-size: 24px;
        margin: 20px 0 15px 0;
        color: #141414; /* Heading text color */
      }
      .span{
        font-weight: 800;
        font-size: 20px;
      }
  
      p {
        font-size: 16px;
        line-height: 1.5;
        color: #333232 !important; /* Paragraph text color */
      }
    }
  
    /* Style each section separately */
    &:nth-child(odd) {
      background-color: #ffffff; /* Alternate background color */
    }
  
    &:nth-child(even) {
      background-color: #f8f8f8; /* Alternate background color */
    }
  
    /* Additional section-specific styles can be added here */
  }
  